*{
    box-sizing: border-box;
}
/* .logo_container {
    position: absolute;
    height: 100%;
    width: 100%;
} */
span.logo_helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0px;
}
#logo {
    max-height: 58%;
    width: auto;
    /* transition: all .4s ease-in-out; */
    margin-bottom: 0;
    display: inline-block;
    float: none;
    vertical-align: middle;
}
.emb-logo img {
    height: 12px;
    width: 82px;
    position: absolute;
    top: 62px;
    bottom: 0;
    left: 104px;
    right: 0;
}
ul li{
    list-style: none;
}
#header_container .main_menu_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#et-top-navigation .top-menu-nav .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 20px;
}
#et-top-navigation .top-menu-nav .nav a {
    font-family:'Segoe UI';
    text-decoration: none;
    color: black;
}
#top_menu .sub_menu {
    display: none;
}
#header_container .main_menu_container .external_search_container {
    display: none;
}