/* logo container */
.logo {
    background-color: white;
    display: flex;
    flex-direction: column;
}

/* first logo main  */
.logo .img1 {
    width: 175px;
}

/* second logo sub */
.logo .img2 {
    width: 80px;
    margin: -12px 90px;
}

/* nav tag */
nav {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Segoe UI';
    align-items: center;
    max-width: 1360px;
    margin: auto;
}

/* right part */
.right ul {
    display: flex;
    gap: 25px;
}

/* list */
.right ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
}
.right ul li span {
    padding: 0px 8px;
}
.menuforlowscreen {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-bar {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.search-icon img {
    height: 40px;
}
/* media tag */
@media screen and (max-width :420px) {
    .right {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .menu-bar {
        display: block;
    }

    .right ul li img {
        display: block;
        margin-right: 20px;
    }
}
